[submodule "rust/src/doc/nomicon"]
	path = rust/src/doc/nomicon
	url = https://github.com/rust-lang/nomicon.git
	shallow = true
[submodule "rust/src/doc/reference"]
	path = rust/src/doc/reference
	url = https://github.com/rust-lang/reference.git
	shallow = true
[submodule "rust/src/doc/book"]
	path = rust/src/doc/book
	url = https://github.com/rust-lang/book.git
	shallow = true
[submodule "rust/src/doc/rust-by-example"]
	path = rust/src/doc/rust-by-example
	url = https://github.com/rust-lang/rust-by-example.git
	shallow = true
[submodule "rust/src/doc/edition-guide"]
	path = rust/src/doc/edition-guide
	url = https://github.com/rust-lang/edition-guide.git
	shallow = true
[submodule "rust/src/llvm-project"]
	path = rust/src/llvm-project
	url = https://github.com/rust-lang/llvm-project.git
	branch = rustc/22.1-2026-03-22
	shallow = true
[submodule "rust/src/doc/embedded-book"]
	path = rust/src/doc/embedded-book
	url = https://github.com/rust-embedded/book.git
	shallow = true
[submodule "rust/library/backtrace"]
	path = rust/library/backtrace
	url = https://github.com/rust-lang/backtrace-rs.git
	shallow = true
[submodule "rust/src/tools/rustc-perf"]
	path = rust/src/tools/rustc-perf
	url = https://github.com/rust-lang/rustc-perf.git
	shallow = true
[submodule "rust/src/tools/enzyme"]
	path = rust/src/tools/enzyme
	url = https://github.com/rust-lang/enzyme.git
	shallow = true
[submodule "rust/src/gcc"]
	path = rust/src/gcc
	url = https://github.com/rust-lang/gcc.git
	shallow = true
[submodule "cranelift/tests/spec_testsuite"]
	path = cranelift/tests/spec_testsuite
	url = https://github.com/WebAssembly/testsuite
[submodule "cranelift/tests/wasi_testsuite/wasi-threads"]
	path = cranelift/tests/wasi_testsuite/wasi-threads
	url = https://github.com/WebAssembly/wasi-threads
[submodule "cranelift/tests/wasi_testsuite/wasi-common"]
	path = cranelift/tests/wasi_testsuite/wasi-common
	url = https://github.com/WebAssembly/wasi-testsuite.git
	branch = prod/testsuite-base
[submodule "cranelift/tests/component-model"]
	path = cranelift/tests/component-model
	url = https://github.com/WebAssembly/component-model
[submodule "sld/external_test_suites/mold"]
	path = sld/external_test_suites/mold
	url = https://github.com/rui314/mold
[submodule "sld/sld/tests/bins"]
	path = sld/sld/tests/bins
	url = https://github.com/wild-linker/test-files
