[submodule "external_test_suites/mold"]
	path = external_test_suites/mold
	url = https://github.com/rui314/mold
[submodule "sld/tests/bins"]
	path = sld/tests/bins
	url = https://github.com/wild-linker/test-files
